.title{
    font-size: 90px;
    text-align: center;
    opacity: 100%;
}

.orange{
    color: rgba(242, 179, 85, 1);
}

.white{
    color: white;
}

.grey{
    color: rgba(102, 98, 92, 0.71);
}

.small{
    font-size: 80px;
}