.Login .password-repeat{
    display: none;
}

.Login .redirect-to-login{
    display: none;
}

.Signup .redirect-to-signup{
    display: none;
}

.container{
    display: flex;
    align-items: center;
    height: 88vh;
    flex-direction: column;
    width: 60%;
    position: sticky;
    margin-left: auto;
    margin-right: auto;
    background-color:rgba(242, 179, 85);
}

.form-container{
    margin-top: 30px;
    width: 400px;
}
label{
    font-size: 20px;
}

.email-field{
    margin-top: -20px;
}

.field{
    margin-bottom: 20px;
    padding: 10px;
    width: 100%;
    display: block;
    font-size: 20px;
}

input:hover{
    border: 2px solid;
}

.logo{
    height: 150px;
    width: 204px;
}

.bottom-container{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}