.hero-container {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .background-image{
    width: 100%;
    height:100%;
    position: absolute;
    z-index: -1;
}

.lesser-container{
    width: 80%;
    height: 80%;
    margin-top: 100px;
    position: absolute;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    object-fit: contain;
    background: rgba(102, 98, 92, 0.71);
}

.title{
    margin-top: 60px;
    margin-bottom: -60px;
}

.first-line{
    margin-top: 80px;
    text-align: center;
    font-size: 35px;
    color: white;
    opacity: 100%;
}

.important-line{
    text-align: center;
    font-size: 35px;
    color: white;
    font-style: italic;
    margin-bottom: -15px;
}
.hero-btn{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.hero-btn .btn{
    margin: 6px;
}

@media screen and (max-width: 960px) {
    h1{
        font-size: 40px;
    }
    p{
        font-size: 20px;
        margin-top: 50px;
    }
    .hero-btn{
        margin-top: 25px;
        margin-left: auto;
        margin-right: auto;
    }
}