.chkbx{
    height: 30px;
    width:30px;
    border: 30px;
    margin-left: 20px;
    cursor: pointer;
}

.lbl{
    margin-left: 20px;
}

.check{
    width: 100%;
    display: flex;
    margin-bottom: 10px;
}